body {
    background-image: url(negative-space-journal-pen-flatlay.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

footer {
    margin-top: auto;
}

.table {
    width: 100%;
    direction: ltr;
    border: 2px solid black;
    margin: 0 auto;
    padding: 20px;
    margin-bottom: 20px;
}

tr,
th,
td {
    margin: 0 auto;
    padding: 25px;
    width: 30px;
    height: 40px;
}

thead {
    background-color: burlywood;
}

tr:nth-child(even):hover {
    background-color: aqua;
}

tr:nth-child(odd):hover {
    background-color: #87a9b9;
}



.container div {
    width: 100%;

}

.footer-bottom {
    background: #0CBABA;
    padding: 10px 0px;
    opacity: .50;

}

.footer-bottom ul li {
    display: inline;
    margin-right: 20px;
    font-size: 18px;
}

.footer-bottom ul li a {
    color: #fff;
}

.footer-bottom ul {
    float: right;
}

.footer-bottom ul li:last-child {
    margin-right: 0;
}

.copyright {
    font-size: 18px;
}

.inactive {
    background-color: red;
}

.active {
    background-color: green;
}